services:
  postgres-db:
    image: postgres:16
    environment:
      POSTGRES_DB: kvitty
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - ./docker/db:/var/lib/postgresql/data

  kvitty-app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - postgres-db
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://postgres:${DATABASE_PASSWORD}@postgres-db:5432/kvitty
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
